div.flagout {
  border: 2px solid #cecece;
  background-color: #b8b8b8;
  padding: 10px;
  max-width: 1px;
  max-height: 1px;
  border-radius: 15px;
}

div.flagin {
  border: 2px solid #74da74;
  background-color: #2ab27b;
  padding: 10px;
  max-width: 1px;
  max-height: 1px;
  border-radius: 15px;
}

div.flagpending {
  border: 2px solid #cbb956;
  background-color: #c5b143;
  padding: 10px;
  max-width: 1px;
  max-height: 1px;
  border-radius: 15px;
}

